<div class="success-page">
  <div class="success-container">
    <div class="success-icon-wrapper">
      <i class="bi bi-check-lg"></i>
    </div>

    <h1 class="success-title">{{ 'SCHEDULING.SUCCESS.TITLE' | translate }}</h1>
    <p class="success-text">{{ 'SCHEDULING.SUCCESS.MESSAGE' | translate }}</p>
    <p class="success-text light">{{ 'SCHEDULING.SUCCESS.THANKS' | translate }}</p>
    <p class="success-text light">{{ 'SCHEDULING.SUCCESS.SEE_YOU' | translate }}</p>

    <button class="success-button" [routerLink]="['/home']">
      {{ 'SCHEDULING.SUCCESS.NEW_BOOKING' | translate }}
    </button>
  </div>
</div>
