<ul class="navbar-nav auth-menu" *ngIf="isLoggedIn$ | async">
  <li class="nav-item">
    <a class="btn-auth btn-auth-primary" routerLink="/user/companies">
      <i class="bi bi-building"></i>
      <span>{{ 'NAV.MENU.ACCESS_BUSINESS' | translate }}</span>
    </a>
  </li>
  <li class="nav-item">
    <button
      type="button"
      (click)="logout()"
      [title]="'NAV.MENU.LOGOUT' | translate"
      class="btn-logout"
      [attr.aria-label]="'NAV.MENU.LOGOUT' | translate"
    >
      <i class="bi bi-box-arrow-left"></i>
    </button>
  </li>
</ul>

<ul class="navbar-nav auth-menu" *ngIf="!(isLoggedIn$ | async)">
  <li class="nav-item">
    <a [routerLink]="['/account/login']" class="btn-auth btn-auth-ghost" routerLinkActive="router-link-active">
      <i class="bi bi-person"></i>
      <span>{{ 'NAV.MENU.LOGIN' | translate }}</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="btn-auth btn-auth-primary" routerLink="/account/register" routerLinkActive="active">
      <i class="bi bi-person-plus"></i>
      <span>{{ 'NAV.MENU.TRY_FREE' | translate }}</span>
    </a>
  </li>
</ul>
